{% extends "base.html" %}

{% block title %}Register | Climate Visibility{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow-lg p-4" style="width: 400px; border-radius: 15px;">

        <h3 class="text-center mb-4 fw-bold">Create Account</h3>

        <form method="POST">

            <div class="mb-3">
                <label class="form-label fw-semibold">Full Name</label>
                <input type="text" name="name" class="form-control" placeholder="Enter your name" required>
            </div>

            <div class="mb-3">
                <label class="form-label fw-semibold">Email</label>
                <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
            </div>

            <div class="mb-3">
                <label class="form-label fw-semibold">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Create password" required>
            </div>

            <button type="submit" class="btn btn-primary w-100 fw-bold">
                Sign Up
            </button>

            <div class="text-center mt-3">
                Already have an account?
                <a href="/login" class="fw-semibold">Login</a>
            </div>

        </form>
    </div>
</div>
{% endblock %}