<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Upload CSV</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
<form action="/train" method="post" enctype="multipart/form-data">
  <h1 class="title">Upload CSV for Training</h1>

  <div class="frame">
    <div class="center">
      <div class="title">
        <h1>Drop file to upload</h1>
      </div>

      <div class="dropzone">
        <img src="/static/images/upload.svg" class="upload-icon" />
        <input type="file" class="upload-input" name="file" accept=".csv" required>
      </div>

      <button type="submit" class="btn">Upload & Train</button>
    </div>
  </div>
</form>
</body>
</html>
